/*.child li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #E53C3D;
    padding-left: 20px;
    padding-right: 20px;

}

h1 {
    font-size: 30px;
    color: #492F41;
}

.child {
    padding-top: 20px;
}
*/
/*
* {
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    padding: 10px;
    background: #e3e3e3;
    display: flex;
    justify-content: space-between;
}

.box__image {
    width: 100%;
}

.box__image-container{
    width: 20%;
}
.box__text{
    width: 70%;
    margin: 0;
}
*/

* {
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    padding: 10px;
    background: #e3e3e3;
    display: flex;
    justify-content: space-between;
}

.box__image {
    width: 100%;
}

.box__image-container{
    width: 20%;
}
.box__text{
    width: 70%;
    margin: 0;
}

::pla