div {
    width: 300px;
    height: 300px;
}

div {
    background-image: url(../images/grunwald.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-image: url(../images/mountains.jpg);
    /*background-size: cover; /*covers full site*/
    background-size: contain; /*covers full site but it is cut*/
}