/* 1. Zresetuj margines i padding wszystkim elementom */


* {
    margin: 0;
    padding: 0;
}




/* 2. Główny kontener powinien mieć następujące style: */



main {
    margin: 30px auto;
    width: 500px;
}




/* 3. Napis "LoveCSS" powinien mieć takie style */


h1 {
    font-weight: bold;
    border-left: 2px solid #E74C3C;
    padding-left: 15px;
}

*/


/* 4. Odsuń formularz o 30px w dół */


.form {
      margin-top: 30px;
}

*/

/* 5. Takie style powinien mieć element do wprowadzania tekstu.  */


.form input[type="text"] {
    background: #ECF0F1;
    border: none;
    border-left: 2px solid white;
    font-size: 28px;
    padding: 10px;
    width: 300px;
  }



/* 6. Takie style powinien mieć przycisk.  */


.form button {
    margin-top: 20px;
    border: none;
    color: #3498DB;
    font-weight: bold;
    cursor: pointer;
    font-size: 28px;
    padding: 10px 20px;
}


/* 7. Odsuwamy kontener z komentarzami, i resetujemy domyślne style tego elementu  */


.form input[type="text"]{
    list-style: none;
    margin-top: 40px;
}


/* 8. Wszystkie komentarze powinny mieć następujące style: */


.form input[type="text"] {
    padding-left: 20px;
    border-left: 2px solid #2980B9;
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
}



/* Drugi formularz */
header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

form {
    position:relative;
    width: 300px;
    margin: 50px auto 100px auto;
}

input {
    font-size: 0.875em;
    width: 253px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #726659;

    border: 0;
    border-bottom: solid 1px #18abe2;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }

  textarea {
    width: 253px;
    max-width: 270px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #726659;
    font-size: 0.875em;

    border: 0;
    border-bottom: solid 1px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }

button {
    width: 283px;
    background: #ECF0F1;
    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: white;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
    border-top: none;
  }

button:hover {
    color: white;
    background: #0064aa;
  }
