@import 'modules/all';

//general
#app {
  font-family: 'Amatic SC', cursive;
  overflow-x:hidden;
}

.full_background {
  width: 100%;
}


.container {
  width: 80%;
  margin: 0 auto;
  @include desktop{
    width: 60%;
  }
}

//Header

.main_header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  #LondonLogo {
    height: 100px;
  }
  .menu{
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #E4E4E4;
    width: 250px;
    height: 100%;
    transition: .3s;
  }

  .active{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E4E4E4;
    width: 250px;
    height: 100%;
    transition: .3s;
  }
  ul{
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    color: black;
    border-radius: 5px;
    margin-top: -20px;
    margin-left: 30px;
  }
  ul li{
    padding-top: 10px;
    border-bottom: 1px solid rgba(100,100,100,0.2);
  }
  ul li a{
    color: black;
    text-decoration: none;
    padding-top: 20px;
    &:hover{
      color: #BF3F59;
    }
  }
  .buttonHamburger {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    outline: none;
    &:hover{
      color: #BF3F59;
    }
  }
}
//Slider

.camden {
  width: 100%;
  height: 200px;
  background-size: cover;
  margin-bottom: 150px;
}
  .camden_photo{
    height: 300px;
    width: 100%;
  }



//Footer

.full_background1{
  background-color: #F0F0F0;
}
.container2 {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  justify-content: center;
  @include desktop{
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-top: -100px;
  }
  .right_form {
    display: flex;
    flex-direction: column;
    @include desktop{
      margin-left: 220px;
      margin-top: 70px;
      width: 100px;
    }
   h2{
     text-align: left;
     margin-left: 5px;
     @include desktop{
       margin-left: 40px;
       margin-top: -50px;
     }
    }
    .icons_list {
    text-align: left;
    margin-left: -40px;
      ul {
        list-style-type: none;
        display: flex;
      }
      ul li {
        padding: 0;
      }
      ul li a {
        text-decoration: none;
        color: black;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        margin-left: 5px;
        margin-right: 5px;
        &:hover {
          border: 1px solid #BF3F59;
          color: #BF3F59;
        }
      }
    }
  }
  .left_form{
    @include desktop{
      margin-left: -70px;
    }
    .form_footer{
    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 380px;
    }
    }
    #name, #email, #message{
      background-color: #F0F0F0;
      border: none;
      border-bottom: 1px solid darkgray;
      outline: #BF3F59;
      width: 125px;
      @include desktop {
        padding: 10px 10px 10px 0;
        margin: 10px 10px 10px 0;
      }
    }
      #message{
        @include desktop {
        width: 340px;
        }
      }
    #name, #email{
      @include desktop {
        width: 160px;
      }
    }

    .btnSend{
      border-radius: 5px;
      background-color: darkgray;
      width: 130px;
      height: 30px;
      color: white;
      &:hover {
        border: none;
        background-color: #BF3F59;
      }
    }
  }

}