@font-face {
    font-family: '3dumbregular';
    src: url('../fonts/3dumb.woff2') format('woff2'),
    url('../fonts/3dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '2dumbregular';
    src: url('../fonts/2dumb.woff2') format('woff2'),
    url('../fonts/2dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '2dumbregular';
    src: url('../fonts/2dumb.woff2') format('woff2'),
    url('../fonts/2dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: '3dumbregular';
}